<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete supplier</title>
</head>
<body>
<h1>Delete supplier</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/suppliers">Supplier list</a>
</p>
<form th:action="@{/delete-supplier}" th:object="${supplier}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${supplier.name}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td th:text="${supplier.description}"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td th:text="${supplier.address}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete supplier"></td>
        </tr>
    </table>
</form>
</body>
</html>