<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Supplier</title>
</head>
<body>
<a href="/create-supplier">Create new supplier</a>
<h1>Supplier</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="supplier: ${suppliers}">
        <tr>
            <td th:text="${supplier.name}"></td>
            <td th:text="${supplier.description}"></td>
            <td th:text="${supplier.address}"></td>
            <td><a th:href="@{/edit-supplier/__${supplier.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-supplier/__${supplier.id}__ }">Delete</a></td>
            <td><a th:href="@{/view-supplier/__${supplier.id}__ }">View</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>