<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<h1>Edit material</h1>
<p>
    <a href="/materials">Material list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-material}" th:object="${material}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Code:</td>
            <td><input type="text" th:field="*{code}"/></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Import Date:</td>
            <td><input type="date" th:field="*{importDate}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" th:field="*{quantity}"/></td>
        </tr>
        <tr>
            <td>Avatar:</td>
            <td><input type="file" th:field="*{avatar}"/></td>
        <tr>
            <td>Suppliers:</td>
            <td>
                <select name="supplier">
                    <option th:each="p:${suppliers}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id}==*{supplier.getId()})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update material"></td>
        </tr>
    </table>
</form>
</body>
</html>